html {
  position: relative;
  min-height: 100%;
}

body {
    background: #eee;
    margin-bottom: 100px;
}

.thead-default th {
  color: #333;
  background-color: #ccc;
}

.table-bordered td {
  border: 1px solid #ccc;
}

.footer {
  position: absolute;
  height: 100px;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #aaa;
}

.togglebutton {
  padding: 0 10px;
  margin-left: 20px;
}
